# Base configuration
exclude: [".rvmrc", ".rbenv-version", "README.md", "Rakefile", "changelog.md", "vendor"]
markdown: kramdown
highlighter: rouge

collections:
  pages:
    output: true
    permalink: /:path/

# Title
name: eRegulations
subtitle: Making regulations easily readable, accessible, and understandable.

# When using this template with a project page set the baseurl to '/project-name'
# For user/organization pages set this to an empty string
# When working locally use jekyll serve --baseurl '' so that you can view everything at localhost:4000
# See http://jekyllrb.com/docs/github-pages/ for more info
#baseurl: ''
baseurl: ''

# Navigation
# List links that should appear in the site sidebar here
navigation:
- text: Overview and live instances
  url: ''
  internal: true
- text: History and press
  url: 'story/'
  internal: true
- text: Current features
  url: 'features/'
  internal: true
- text: Introduction to regulations
  url: 'introduction/'
  internal: true
- text: Code and repositories
  url: 'technology/'
  internal: true
- text: Creating an eRegs instance
  url: 'theming/'
  internal: true
- text: Writing rules and regulations
  url: 'guidelines/'
  internal: true
- text: Contributing
  url: 'contributing/'
  internal: true
- text: Contact
  url: 'contact/'
  internal: true


general_repos:
  - name: regulations-parser
    url: https://github.com/eregs/regulations-parser
    short: Parse regulations
    long: >
      The parser effectively converts print-centric documents from the Federal
      Register, Government Printing Office, etc., pulls out semantic meaning
      from them (e.g. paragraph structures, citations, definitions), and
      writes those structures to a data store. The parser also contains tools
      to help developers debug this process.
  - name: regulations-core
    url: https://github.com/eregs/regulations-core
    short: Regulations API
    long: The store for the parsed regulatory data.
  - name: regulations-site
    url: https://github.com/eregs/regulations-site
    short: Display the regulations
    long: >
      An intuitive, responsive UI for viewing the regulations. It combines all
      of the parsed data into an interface, providing in-line access to
      definitions, citations, external material and more. This is the primary
      use case for the regulatory data.
  - name: fr-notices
    url: https://github.com/eregs/fr-notices
    short: Edited source XML
    long: >
      Often, source files will need to be massaged and modified to fit the
      parser's limited understanding. This repository is a canonical source
      for these edits, across all agencies, so that developers remain in sync.
  - name: eregs.github.io
    url: https://github.com/eregs/eregs.github.io
    short: Documentation
    long: The content for these HTML pages.

agency_repos:
  - name: Consumer Financial Protection Bureau
    repos:
    - name: regulations-parser
      url: https://github.com/cfpb/regulations-parser
      short: Parse regulations
      long: >
        The parser effectively converts print-centric documents from the Federal
        Register, Government Printing Office, etc., pulls out semantic meaning
        from them (e.g. paragraph structures, citations, definitions), and
        writes those structures to a data store. The parser also contains tools
        to help developers debug this process.
    - name: regulations-core
      url: https://github.com/cfpb/regulations-core
      short: Regulations API
      long: The store for the parsed regulatory data.
    - name: regulations-site
      url: https://github.com/cfpb/regulations-site
      short: Display the regulations
      long: >
        An intuitive, responsive UI for viewing the regulations. It combines all
        of the parsed data into an interface, providing in-line access to
        definitions, citations, external material and more. This is the primary
        use case for the regulatory data.
    - name: regulations-bootstrap
      url: https://github.com/cfpb/regulations-bootstrap
      short: Vagrant for quick setup
      long: >
        Vagrant files for quickly setting up a virtual machine in preparation
        for working with CFPB eRegs repositories.
    - name: regulations-schema
      url: https://github.com/cfpb/regulations-schema
      short: Regulation XML schema
      long: >
        An experimental XML schema for defining regulations. Regulations in this
        format could then be maintained by only editing a single XML file,
        rather than worrying about external sources of data. Currently,
        CFPB-centric.
    - name: regulations-xml-parser
      url: https://github.com/cfpb/regulations-xml-parser
      short: Schema -> JSON for regulations
      long: >
        A companion to regulations-schema which takes XML following that
        schema and converts it into the format accepted by regulations-core.
    - name: regulations-stub
      url: https://github.com/cfpb/regulations-stub
      short: Parsed CFPB regulations
      long: >
        A cached set of CFPB regulations as JSON files, ready for importing
        into regulations-core.
  - name: Bureau of Alcohol, Tobacco, Firearms and Explosives
    repos:
    - name: atf-eregs
      url: https://github.com/18F/atf-eregs
      short: ATF UI Elements
      long: >
        Static assets, deployment configuration, and UI plugins specific to
        ATF's instance of eRegulations.
  - name: Federal Election Commission
    repos:
    - name: fec-eregs
      url: https://github.com/18F/fec-eregs
      short: FEC UI Elements
      long: >
        Static assets, deployment configuration, and UI plugins specific to
        FEC's instance of eRegulations.
  - name: Environmental Protection Agency
    repos:
    - name: epa-notice
      url: https://github.com/18F/epa-notice
      short: eManifest Pilot UI Elements
      long: >
        Pilot project highlighting eRegs' "Notice and Comment" feature.
        Includes static assets, deployment configuration, and UI plugins
        specific to EPA's eManifest ruling.

# Style Variables
brand_color: "#2cb34a"

# eRegs instances in the wild
instances:
- url: https://beta.fec.gov/regulations/
  title: 11
  agency: Federal Election Commission
- url: http://www.consumerfinance.gov/eregulations/
  title: 12
  agency: Consumer Financial Protection Bureau
- url: https://atf-eregs.app.cloud.gov/
  title: 27
  agency: Bureau of Alcohol, Tobacco, Firearms and Explosives
